.sidebar {
    width: var(--sidebar-w);
    padding-top: 20px;
    background-color: var(--master-bgc);
    position: fixed;
    /* height: calc(100vh - 130px); */
    top: var(--nav-top-h);
    left: 0;
}
.radio-label {
    cursor: pointer;
    color: var(--sidebar-menu-a);
}
.sidebar-menu {
    height: calc(100vh - var(--nav-top-h));
}
.sidebar-menu,
.sidebar-menu .submenu {
    padding: 0;
    left: 0;
    list-style-type: none;
    overflow: hidden;
}
.sidebar-menu .submenu {
    display: none;
    padding-top: 10px;
    margin-top: 0;
    opacity: 1;
    transition: all 0.5s ;
}
/* 給予一個初始樣式 */
@starting-style {
    .sidebar-menu .submenu {
        margin-top: -30px;
        opacity: 0;
        padding-top: 0;
    }
}
.radio-label:has(input[name="menu-item"]:checked)+.submenu {
   display: block;
}
.sidebar-menu .submenu.active {
    display: block;
}
.sidebar-menu i {
    pointer-events: none;
    margin-right: 5px;
}
.sidebar-menu .submenu>li {
    border-left: 1px solid #cacaca;
    display: flex;
    margin-left: 8px;
    font-size: 1rem;
}
.sidebar-menu .submenu>li:before {
    content: "";
    display: block;
    height: 0.5rem;
    margin-right: 3px;
    border-bottom: 1px solid #cacaca;
    width: 15px;
}
.sidebar-menu a {
    text-decoration: none;
    color: var(--sidebar-menu-a);
    transition: all 0.3s;
}
.sidebar-menu a:hover {
    color: var(--sidebar-menu-a-hover);
}
.sidebar-menu>.menu-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sidebar-menu>li.active {
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 900;
}
.sidebar-menu>li.active .submenu {
    font-weight: normal;
}
.sidebar-menu li {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}
.sidebar-menu li.menu-item i {
    color: var(--menu-item-icon);
}
.custom-sm-width {
    width: var(--p-width) !important;
}
#mclose {
    display: none;
}
#mask {
    display: none;
}
@media (max-width: 1024px) {
    #mclose {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 15px;
        top: 30px;
        font-size: 1.8rem;
        color: var(--color-primary);
        z-index: 12;
        display: block;
    }
    #mclcik.add-Z {
        z-index: 12;
    }
    #mask {
        position: fixed;
        width: 100%;
        min-height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10;
    }
    body:has(#mclick-check:checked) #mask {
        display: block;
    }
    .custom-sm-width {
        width: var(--m-width) !important;
    }
    .sidebar {
        position: fixed;
        width: 80%;
        left: -80%;
        transition: all 0.3s;
        z-index: 11;
        min-height: 100vh;
        background-color: #edf3fc;
        top: 0;
        padding-top: 100px;
    }
    body:has(#mclick-check:checked) .sidebar.open {
        left: 0;
    }
    /* body:has(#mclose:focus) .sidebar.open {
        left: -80%;
    } */
    .sidebar-menu a:hover {
        color: var(--sidebar-menu-a);
    }
    .sidebar-menu .submenu>li {
        font-size: 1rem;
    }
}
/* scroll */
.sidebar-menu {
    overflow: auto;
}
.sidebar-menu::-webkit-scrollbar {
    width: 5px;
}
.sidebar-menu::-webkit-scrollbar-button {
    background: #96b2dc;
}
.sidebar-menu::-webkit-scrollbar-track-piece {
    background: #edf3fc;
}
.sidebar-menu::-webkit-scrollbar-thumb {
    background-color: #96b2dc;
}
.sidebar-menu::-webkit-scrollbar-track {
    box-shadow: #96b2dc;
}